html {
	background: #fff;
}
#wpcontent, #wpfooter {
	margin-left: 0;
	background: #fff;
}
#adminmenuback,
#adminmenuwrap {
	display: none;
}
.toplevel_page_settings #wpfooter {
	display: block;
	position: relative;
}
.infobox.quicktipp,
.info {
    box-shadow: none;
}
a,
a:link, a:focus, a:hover, a:active,
a:link:after, a:visited:after {
	content: " (" attr(href) ") ";
	text-decoration: none;
  	color: #66cc00;
}
.do-not-print {
	display: none;
}
.docs-wrapper {
	width: 80%;
	margin: 0 auto;
}